%li
  = link_to new_restaurant_path do
    %span.glyphicon.glyphicon-plus
    Add
%li
  = link_to restaurants_path do
    %span.glyphicon.glyphicon-cutlery
    List
%li
  = link_to '#' do
    %span.glyphicon.glyphicon-flag
    Book